/* You can add global styles to this file, and also import other style files */
body{
  background-color:black !important;
}

h1{
  color:orangered !important;
}

.form-control {
  background-color: rgba(169, 68, 66, 1) !important;
  color:black !important;
}
