<div class="container">
  <div class="row">
    <div class="form-group">
      <h2>{{status}}</h2>
    </div>

    <div class="form-group text-center">
      <img *ngIf="isSummoning" height="100" src="assets/Acolyte.gif" class="rounded mx-auto d-block text-center">
      <img *ngIf="isChecking" height="100" src="assets/acolyte.bmp" class="rounded mx-auto d-block text-center">
      <img *ngIf="isCheckSuccess" height="100" src="assets/checking.gif" class="rounded mx-auto d-block text-center">
      <img *ngIf="isCheckFail" height="100" src="assets/checkFail.png" class="rounded mx-auto d-block text-center">
      <img *ngIf="isDestroying" height="100" src="assets/destroying.gif" class="rounded mx-auto d-block text-center">
    </div>
  </div>

  <div class="row">
    <h1>Thy bidding, master?</h1>

    <div class="form-group">
      <input [(ngModel)]="userName" type="text" class="form-control form-control-lg" placeholder="Email" />
    </div>

    <div class="form-group">
      <input [(ngModel)]="otp" type="number" size="6" min="100000" max="999999" class="form-control form-control-lg" placeholder="OTP" />
    </div>

    <div class="form-group">
      <button [disabled]="isWorking" (click)="login()" class="btn btn-secondary">Login</button>
    </div>

    <div class="form-group">
      <div class="btn-group" role="group">
        <button [disabled]="isWorking" (click)="summon()" class="btn btn-secondary">Summon</button>
        <button [disabled]="isWorking" (click)="check()" class="btn btn-secondary">Check</button>
        <button [disabled]="isWorking" (click)="destroy()" class="btn btn-secondary">Destroy</button>
      </div>
    </div>
  </div>
</div>


