<h1>Thy bidding, master?</h1>

<div class="form-group">
  <input [(ngModel)]="userName" type="text" class="form-control form-control-lg" placeholder="Email" />
</div>

<div class="form-group">
  <input [(ngModel)]="otp" type="number" size="6" min="100000" max="999999" class="form-control form-control-lg" placeholder="OTP" />
</div>

<div class="form-group">
  <div class="btn-group" role="group">
    <button [disabled]="isWorking" (click)="summon()" class="btn btn-secondary">Summon</button>
    <button [disabled]="isWorking" (click)="check()" class="btn btn-secondary">Check</button>
    <button [disabled]="isWorking" (click)="destroy()" class="btn btn-secondary">Destroy</button>
  </div>
</div>

<div class="form-group">
  <h2>{{status}}</h2>
</div>

<div class="form-group">
  <img *ngIf="isSummoning" src="assets/Acolyte.gif" class="rounded mx-auto d-block">
  <img *ngIf="isChecking" src="assets/Acolyte.gif" class="rounded mx-auto d-block">
  <img *ngIf="isDestroying" src="assets/Spaghet.gif" class="rounded mx-auto d-block">
</div>

